* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #ffffff;
}

html, body {
  height: 100%;
  max-width: 100%;
}







.contenedor {
  display: flex;
  align-items: center;
  background-color: #1f4d78;
  gap: 40px;
  width: 100%;
  min-height: 870px; 
  border-radius: 0; 
}

.portada {
  position: relative;
  width: 25%;
  height: 650px;
  background-color: #ffffff;
  border: 3px solid black;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  margin-bottom: 60px;
  margin-right: 400px;
}

.mas {
  position: absolute;
  font-size: 400px;
  color: black;
  font-weight: bold;
  pointer-events: none;
}

.img-portada {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  display: none; 
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;

}

.formulario label {
  font-size: 20px;
  margin-bottom: -5px;
  stroke-width: 2px solid black;
}

.inputformulario, select {
  padding: 8px 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 400px;
  height: 55px;
  font-size: 14px;
  margin-top: 20px;
stroke-width: 2px solid black;
}

select {
  background-color: white;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 40px;
  border-radius: 10px;
  stroke-width: 2px solid black;
  font-size: 20px;
}

.botonpublicar {
  background-color: #d6b15a;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 8px 10px;
  font-size: 16px;
  width: 120px;
  cursor: pointer;
  transition: 0.2s;
}

.botonpublicar:hover {
  background-color: #b89242;
}


.encabezado {
  background-color: #fff;
  height: 110px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 0 24px;
  gap: 16px;
}








.lineagruesa {
  width: 100%;
  height: 6px;
  background-color: black;
  margin: 0 0 0px 0;
  position: relative;
  z-index: 9;
}



.logo {
  width: 100px;
  height: 100px;
  margin-left: px;
}

input {
  height: 30px;
  width: 40%;
  margin-bottom: 10px;
  border-radius: 64px;
  margin-right: 100px;
  margin-left: 200px;

 

}
.contenedornotisperfilhome {
  display: flex;
  align-items: center;
  margin-right: 200px;
  gap: 20px;
}




.botonlogo {
  height: 80px;
  width: 100px;
  background-color: white;
  border-color: white;
  box-shadow: white;
  margin-top: -10px;

}


.imgperfil {
height: 70px;
width: 70px;
margin-left: -8px;
margin-top:-3px;
}


.botonperf {
height: 70px;
width: 70px;
margin-left:150px;
margin-right: -300px;
}


.botonhom {
height: 70px;
width: 70px;
margin-left: 250px;
margin-right: 200px;

}

.imghome {
height: 70px;
width: 70px;
margin-left: -8px;
margin-top:-3px;
}

.botonnotis{
height: 70px;
width: 70px;
margin-right: -300px;

}

.imgnotis {
height: 70px;
width: 70px;
margin-left: -8px;
margin-top:-3px;
}