body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0d4e96; 
    color: white;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    color: black;
  }
  
  .header .logo img {
    height: 40px;
  }
  
  .search-bar {
    flex: 1;
    display: flex;
    margin: 0 20px;
  }
  
  .search-bar input {
    flex: 1;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid gray;
  }
  
  .search-bar button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    margin-left: -30px;
  }
  
  .icons span {
    margin-left: 15px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .filters {
    display: flex;
    justify-content: flex-end;
    margin: 15px 20px;
    gap: 10px;
  }
  
  .filters select {
    padding: 5px;
    border-radius: 5px;
    border: none;
  }
  
  .title {
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .product-card {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
  }
  
  .product-card img {
    max-width: 100%;
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
  }
  
  .product-card .price {
    font-weight: bold;
    color: #0d4e96;
  }
  
  .botonpedir {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #0d4e96;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  

  body {
    background-color: rgb(226, 226, 226);
  }
  
  h1 {
      text-align: center;
  }
  
  .encabezado {
     background-color: rgb(255, 255, 255);
      height: 100px;
      width: 100%;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      justify-content: flex-start; 
      gap: 40px;                  
      padding: 0 40px;  ;     
  }
  


  



  
  
  
  
  
  
  
  .lineagruesa {
      width: 106%;
      height: 4px;
      background-color: black;
      margin-bottom: 30px;
  }
  
  
  
  
  
  
  .botones {
   height: 70px;
  width: 15%;
  margin-left: 200px;
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  margin-top: 30px;
  }
  
  
  .logo {
    width: 100px;
    height: 80px;
    margin-left: px;
}

input {
    height: 30px;
    width: 40%;
    margin-left: 200px;              
    margin-bottom: 10px;
    border-radius: 64px;
    margin-right: 100px;

}

.botonlogo {
    height: 80px;
margin-bottom: 30px;
    width: 100px;
    margin-left: -450px;
    background-color: white;
    border-color: white;
    box-shadow: white;
    margin-right: 150px;

}


.imgperfil {
height: 70px;
width: 70px;
margin-left: -8px;
margin-top:-3px;
}


.botonperf {
height: 70px;
width: 70px;
margin-left:150px;
margin-right: -300px;
}


.botonhom {
height: 70px;
width: 70px;
margin-left: 250px;
margin-right: -400px;

}

.imghome {
height: 70px;
width: 70px;
margin-left: -8px;
margin-top:-3px;
}

.botonnotis{
height: 70px;
width: 70px;
margin-right: -200px;

}

.imgnotis {
height: 70px;
width: 70px;
margin-left: -8px;
margin-top:-3px;
}
  
  
     