h1 {
    margin-bottom: 32px;
  font-size: 64px;}



  .logo {
    width: 300px;
    height: 150px;
  }

  .botonlog{
    width: 55%;
    padding: 15px 0;
    margin: 15px 0;
    font-size:24px;
    border: none;
    border-radius: 6px;
    font-weight: 600;
  }

.botonreg {
  width: 50%;
    padding: 15px 0;
    margin: 12px 0;
    font-size:24px;
    border: none;
    border-radius: 6px;
    font-weight: 600;
}



  body{
    background-color: rgb(226, 226, 226);
  }
  .container {
    max-width: 700px;
    margin: 60px auto;
    background: rgb(226, 226, 226);
    border-radius: 10px;
    padding: 32px 24px;
    text-align: center;
}