
body {
  background-color: rgb(226, 226, 226);
}

h1 {
  font-size: xx-large;
margin-left: 25px;
}


  .botonlogin {
    
    display: block;
    width: 62%;
    padding: 14px 0;
    margin: 12px 0;
    margin-left: 10px;
    font-size: xx-large;
    color: #fff;
    background: #026499;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    
  }

  .botonvolver {
    display: block;
    box-shadow:rgb(226, 226, 226);
    border-radius: 10px;
    border-width:0cap ;
    background-color: rgb(226, 226, 226);
    color:#026499;
    font-size: 24px;
    font-weight: 550;
  }

  

  


.input {
  width:60%;
  height: 40px;
  border-radius: 6px;
margin-left: 10px;
margin-bottom: 60px;
padding: 10px;
}