h1 {
    margin-bottom: 32px;
  font-size: xx-large;}


  .botonlogin {
    
    display: block;
    width: 100%;
    padding: 14px 0;
    margin: 12px 0;
    font-size: xx-large;
    color: #fff;
    background: #0077b6;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    
  }

  .botonvolver {
    display: block;
    box-shadow: #fff;
    border-radius: 10px;
    border-width:0cap ;
  }

  

  .container {
    max-width: 600px;
    margin: 60px auto;
    background: #fff;
    border-radius: 10px;
    text-align: center;
}