* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #C0C0C0;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.encabezado {
    background-color: #FFFFFF;
    height: 130px;
    width: 100%;
    display: flex;                
    align-items: center;          
    justify-content: space-between;
    padding: 0 60px;
    position: relative;
}

.botonlogo {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.logo {
    width: 120px;
    height: 90px;
    display: block;
}

#buscador {
    height: 55px;
    width: 700px;
    border: 2px solid #000000;
    border-radius: 50px;
    padding: 0 25px 0 55px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    position: absolute;
    left: 42%;
    transform: translateX(-50%);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2"><circle cx="11" cy="11" r="8"/><path d="m21 21-4.35-4.35"/></svg>');
    background-repeat: no-repeat;
    background-position: 18px center;
    background-size: 26px;
}

#buscador::placeholder {
    color: #999999;
    font-family: "Poppins", sans-serif;
}


.lineagruesa {
    width: 100%;
    height: 3px;
    background-color: #000000;
}


.botonnotis {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 20px;
}

.imgnotis {
    height: 60px;
    width: 60px;
    display: block;
}




.botoncompra {
    height: 400px;
    width: 480px;
    font-size: 40px;
    background-color: #1E4BA6;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    border: 3px solid #000000;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.botoncompra:hover {
    transform: scale(1.02);
}



.botonventa {
    height: 400px;
    width: 480px;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    background-color: #00FF00;
    color: #000000;
    border: 3px solid #000000;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.botonventa:hover {
    transform: scale(1.02);
}



h1 {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #000000;
}


.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
    margin-bottom: 80px;
}



.botonperf {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.imgperfil {
    height: 60px;
    width: 60px;
    display: block;
}


.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}