body {
  font-family: Arial, sans-serif;
  background-color: #e6e6e6;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
}

.logo {
  font-size: 30px;
  color: #0a51c0;
  margin: 0;
}

.home-icon {
  width: 70px;
  height: 70px;
  margin-left: -8px;
  margin-top: -3px;
}

.botonhome {
  width: 70px;
  height: 70px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.profile {
  text-align: center;
  background-color: #e6e6e6;
  padding: 20px;
  border-radius: 8px;
}

.avatar {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.avatar img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: white;
}

.edit-icon {
  position: absolute;
  bottom: 5px;
  right: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  font-size: 12px;
  padding: 2px;
  cursor: pointer;
}

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight:300;
  margin-bottom: 4px;
  text-align: left;
  width: 200px;
  margin-left: -400px;
  font-size: 36px;
}

input {
  width: 600px;
  height: 35px;
  padding: 4px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 4px;
}

.input-group {
  display: flex;
  align-items: center;
}

.guardar {
  background-color: #22b14c;
  color: white;
  border: none;
  font-weight: 600;
  font-size: 25px;
  padding: 5px 10px;
  border-radius: 8px;
  margin-left: 4px;
  cursor: pointer;
  height: 50px;
  width: 140px;
  margin-bottom: 10px;
}

.guardar:hover {
  background-color: #1a943d;
}


.sed{
  margin-left: 145px;
}